*.exe
*.EXE
*.dll
*.DLL
*.o
*.obj
*.OBJ
*.lib
*.LIB
*.exp
*.EXP
**/d77_alsadrv/d77_alsadrv
**/d77_alsadrv/d77_lib.so
**/d77_coredrv/d77_coredrv
**/d77_coredrv/d77_lib.so
**/d77_pcmconvert/d77_pcmconvert
**/d77_pcmconvert/d77_lib.so
**/websynth/llasm/indirect/d77_import.a
**/websynth-gen/*.asm
**/websynth-gen/*.inc
**/websynth-gen/*.llasm
**/websynth-gen/*.llinc
**/websynth-gen/*.resdump
**/websynth-gen/*.a
**/websynth-gen/*.sci
